.top-bar {
    display: flex;
    background-color: green;
    justify-content: flex-end;
}

.top-nav__link {
    display: inline;
}

.user-options {
    position: absolute;
}

.top-nav__text {
    width: 10em;
}

.user-profile {
    position: relative;
    width: 5em;
    height: 5em;
    /* justify-content: center;
    align-content: center; */
    border: 2px solid black;    
}

.user-profile i {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
