.top-bar {
    display: flex;
    background-color: green;
    justify-content: flex-end;
}

.top-nav__link {
    display: inline;
}

.user-profile {
    position: relative;
}
.user-options {
    position: absolute;
}

.top-nav__text {
    width: 10em;
}

.user-profile {
    display: relative;
    width: 5em;
    height: 5em;
    /* justify-content: center;
    align-content: center; */
    border: 2px solid black;    
}


