a {
    text-decoration: none;
    color: inherit;
}
body {
    margin: 0;
}
.top-bar {
    display: flex;
    background-color: green;
    justify-content: flex-end;
}

.top-nav__link {
    display: inline;
}

.top-nav__text {
    width: 10em;
}

.user-profile {
    display: flex;
    width: 5em;
    height: 5em;
    justify-content: center;
    align-items: center;
    position: relative;
}
.user-profile p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.user-options {
    list-style-type: none;
    position: absolute;
    width: 150%;
    text-align: right;
    height: auto;
    /* border: 2px solid black; */
    top: 100%;
    right: 0;
    margin: 0;
    display: none;
    padding-left: 0;
    background-color: lawngreen;
    padding: 0.5em 0.5em 0.5em 0.5em;


}.user-options:hover {
    display: block;
}

.user-profile p:hover + .user-options {
    display: block;
}
/* 
.user__option {
    padding: 0.5em 0.5em 0.5em 0.5em;
} */

#arrowup {
    width: 0;
    height: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid rgb(63, 13, 13);
    margin-left: 80%; 
    position: absolute;
    top: -0.5em;
}
